<header class="header">
  <a routerLink="/app/home" class="header__logo"></a>
  <nav *ngIf="authService.isLoggedIn"
       class="header__nav">
    <a routerLink="/app/home"
       routerLinkActive="active"
       class="header__nav-item">Coworkers</a>
    <a routerLink="/app/projects"
       routerLinkActive="active"
       class="header__nav-item">Projects</a>
  </nav>
  <div class="header__login-cont">
    <a *ngIf="!authService.isLoggedIn"
       mat-button
       routerLink="/sign-in">Login</a>
    <button *ngIf="authService.isLoggedIn"
            mat-button
            (click)="authService.SignOut()">Logout</button>
  </div>
</header>
