<a [routerLink]="['/app/employee', item.id]"
   [ngClass]="{'entity-tile--inactive': !item.isActive}"
   class="entity-tile project-tile">
  <app-avatar [avatar]="item.logo"
              [isCompany]="isCompany"
              class="entity-tile__avatar"></app-avatar>
  <p class="entity-tile__info entity-tile__info--name">{{ item.name }}</p>
  <div *ngIf="authService.isAdmin"
       class="entity-tile__btn-cont">
    <a [routerLink]="['/app/employee-edit', item.id]"
       mat-raised-button
       class="entity-tile__btn">Edit</a>
  </div>
</a>
