<form [formGroup]="projectForm"
      class="entity-form project-form">
  <mat-slide-toggle formControlName="isActive">Is active project</mat-slide-toggle>

  <app-avatar-upload [avatar]="project.logo"
                     [isCompany]="isCompany"
                     class="entity-form__avatar entity-form__field"
                     (updated)="updateAvatar($event)"></app-avatar-upload>

  <mat-form-field class="entity-form__field entity-form__field--half-width">
    <input matInput
           formControlName="name"
           placeholder="Project name"
           required>
  </mat-form-field>

  <mat-form-field class="entity-form__field entity-form__field--half-width">
    <input matInput
           formControlName="reference"
           placeholder="Project reference">
  </mat-form-field>

  <mat-form-field class="entity-form__field entity-form__field--half-width">
    <input matInput
           [matDatepicker]="startTime"
           formControlName="startTime"
           placeholder="Start time"
           required>
    <mat-datepicker-toggle matSuffix [for]="startTime"></mat-datepicker-toggle>
    <mat-datepicker #startTime></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="entity-form__field entity-form__field--half-width">
    <input matInput
           [matDatepicker]="finishTime"
           formControlName="finishTime"
           placeholder="Finish time">
    <mat-datepicker-toggle matSuffix [for]="finishTime"></mat-datepicker-toggle>
    <mat-datepicker #finishTime></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="entity-form__field">
    <textarea matInput
              formControlName="description"
              rows="4"
              placeholder="Project description"
              required></textarea>
  </mat-form-field>

  <mat-form-field class="entity-form__field">
    <mat-label>Participants (only active)</mat-label>
    <mat-select formControlName="participants" multiple>
      <mat-option *ngFor="let employee of employeesSelectList" [value]="employee.id">
        {{ employee.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-tags-list [items]="skills"
                 [selectedItems]="project.stack"
                 [placeholderText]="'Add skill...'"
                 class="entity-form__field"></app-tags-list>

  <mat-form-field class="entity-form__field">
    <textarea matInput
              formControlName="feedback"
              rows="4"
              placeholder="Tech feedback"></textarea>
  </mat-form-field>

  <div class="entity-form__btn-cont">
    <button mat-raised-button
            color="accent"
            [disabled]="projectForm.invalid"
            (click)="addNewProject()">{{ saveFormText }}</button>
  </div>
</form>
