<div class="skills-manager page-wrapper">
  <h1 class="skills-manager__title page-title">Manage employees available skills</h1>

  <mat-tab-group class="skills-manager__tabs">

    <mat-tab label="Skills">
      <section class="skills-manager__tab-content">
        <button mat-raised-button
                color="accent"
                (click)="exportSkills()">
          Export skills
        </button>
      </section>
    </mat-tab>


    <mat-tab label="Positions">
      <section class="skills-manager__tab-content">
        Positions
      </section>
    </mat-tab>

  </mat-tab-group>
</div>
