.skills-manager__tab-content {
  padding: 20px 0;
}

.skills-manager__import-tip b {
  font-weight: bold;
}

.skills-manager__progress {
  margin-bottom: 20px;
}

.skills-manager__export-btn {
  margin-right: 20px;
}
