<div class="skills-manager page-wrapper">
  <h1 class="skills-manager__title page-title">Manage employees available skills</h1>

  <mat-tab-group class="skills-manager__tabs">

    <mat-tab label="Import">
      <section class="skills-manager__tab-content">
        <mat-form-field>
          <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" [color]="color">
          </ngx-mat-file-input>
        </mat-form-field>
        <div>
          <button mat-raised-button
                  color="accent"
                  (click)="importSkills()">
            Import skills
          </button>
        </div>
      </section>
    </mat-tab>

    <mat-tab label="Export">
      <section class="skills-manager__tab-content">
        <button mat-raised-button
                color="accent"
                (click)="exportSkills()">
          Export skills
        </button>
        <a *ngIf="exportedFileUrl"
           [href]="exportedFileUrl"
           class="skills-manager__exported-link"
           download>Click to download exported data</a>
      </section>
    </mat-tab>

  </mat-tab-group>
</div>
