<div class="entity-filters project-filters">
  <mat-form-field class="entity-filters__field">
    <input matInput
           [(ngModel)]="filters.name"
           [placeholder]="'Project name'">
  </mat-form-field>


  <mat-form-field class="entity-filters__field">
    <mat-label>Skill</mat-label>
    <mat-select [(ngModel)]="filters.skillName">
      <mat-option *ngFor="let skill of skillsList" [value]="skill">
        {{ skill }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div class="entity-filters__actions-btn-cont">
    <button mat-raised-button
            color="accent"
            class="entity-filters__btn-apply"
            (click)="applyFilters()">Apply filters</button>
    <button mat-raised-button
            color="warn"
            class="entity-filters__btn-reset"
            (click)="resetFilters()">Reset</button>
  </div>
</div>
