<div class="admin-actions">
  <a mat-raised-button
     color="accent"
     routerLink="/app/project-add"
     class="admin-actions__btn admin-actions__btn--add-project">Add project</a>
  <a mat-raised-button
     color="accent"
     routerLink="/app/skills-manager"
     class="admin-actions__btn admin-actions__btn--manage-skills">Manage skills</a>
  <a mat-raised-button
     color="accent"
     routerLink="/app/employee-add"
     class="admin-actions__btn admin-actions__btn--add-employee">Add employee</a>
</div>
