<form [formGroup]="employeeFrom"
      class="employee-form">
  <app-avatar-upload [avatar]="employee.userPhoto"
                     class="employee-form__avatar employee-form__field"
                     (updated)="updateAvatar($event)"></app-avatar-upload>

  <mat-form-field class="employee-form__field employee-form__field--half-width">
    <input matInput
           formControlName="firstName"
           placeholder="First name"
           required>
  </mat-form-field>

  <mat-form-field class="employee-form__field employee-form__field--half-width">
    <input matInput
           formControlName="lastName"
           placeholder="Last name"
           required>
  </mat-form-field>

  <mat-form-field class="employee-form__field employee-form__field--half-width">
    <input matInput
           [matDatepicker]="birthday"
           formControlName="birthday"
           placeholder="Birthday"
           required>
    <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
    <mat-datepicker #birthday></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="employee-form__field employee-form__field--half-width">
    <input matInput
           [matDatepicker]="firstday"
           formControlName="firstday"
           placeholder="First working day"
           required>
    <mat-datepicker-toggle matSuffix [for]="firstday"></mat-datepicker-toggle>
    <mat-datepicker #firstday></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="employee-form__field">
    <textarea matInput
              formControlName="bio"
              rows="4"
              placeholder="Bio"></textarea>
  </mat-form-field>

  <mat-form-field class="employee-form__field employee-form__field--half-width">
    <mat-label>Position</mat-label>
    <mat-select formControlName="positionId"
                required>
      <mat-option *ngFor="let position of positions" [value]="position.id">
        {{ position.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="employee-form__field employee-form__field--half-width">
    <input matInput
           formControlName="email"
           type="email"
           placeholder="Email"
           required>
  </mat-form-field>

  <app-tags-list [items]="skills"
                 [selectedItems]="employee.skillsList"
                 [placeholderText]="'Add skill...'"
                 class="employee-form__field"></app-tags-list>

  <div class="employee-form__btn-cont">
    <button mat-raised-button
            color="accent"
            [disabled]="employeeFrom.invalid"
            (click)="addNewEmployee()">Add employee</button>
  </div>
</form>
