<div class="sign-in">
  <div class="sign-in__form">
    <h3 class="sign-in__title page-title">Sign In</h3>

    <mat-form-field class="sign-in__field">
      <input matInput
             #userName
             type="email"
             placeholder="Email"
             required>
    </mat-form-field>

    <mat-form-field class="sign-in__field">
      <input matInput
             #userPassword
             type="password"
             placeholder="Password"
             required>
    </mat-form-field>

    <!--<div class="forgotPassword">-->
    <!--<span routerLink="/forgot-password">Forgot Password?</span>-->
    <!--</div>-->

    <div class="sign-in__btn-cont">
      <button mat-raised-button
              color="accent"
              class="sign-in__submit-btn"
              (click)="authService.SignIn(userName.value, userPassword.value)">Log in</button>
    </div>
  </div>
</div>
