.projects {
  position: relative;
}

.projects__filters {
  width: 100%;
}

.projects__content {
  max-width: 1560px;
  margin: auto;
}

.projects__photo {
  width: 60px;
}

.projects__load-more-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}
