.projects {
  position: relative;
}

.projects__actions-cont {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 15px;
}

.projects__add-project-btn,
.projects__manage-skills-btn {
  margin-right: 15px;
}

.projects__filters {
  width: 100%;
}

.projects__content {
  max-width: 1560px;
  margin: auto;
}

.projects__photo {
  width: 60px;
}

.projects__load-more-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}
