<main class="projects">
  <app-admin-actions *ngIf="authService.isAdmin"></app-admin-actions>

  <app-projects-filters class="projects__filters"
                        [initFilters]="initFiltersParams"
                        (filtersReset)="resetFilters()"
                        (filtersChanged)="applyFilters($event)"></app-projects-filters>

  <div class="projects__content">
    <div class="entities-list projects__list">
      <app-project-tile *ngFor="let project of projectsList"
                        [item]="project"
                        class="entities-list__wrapper"></app-project-tile>
    </div>

    <div *ngIf="showLoadMoreBtn"
         class="projects__load-more-cont">
      <button mat-raised-button
              color="accent"
              class="projects__load-more-btn"
              (click)="loadMoreItems()">Load more</button>
    </div>
  </div>
</main>
