<div class="employees-filters">
  <mat-form-field class="employees-filters__field">
    <mat-label>Search by</mat-label>
    <mat-select [(ngModel)]="searchBy">
      <mat-option *ngFor="let item of searchByList" [value]="item.id">
        {{ item.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="employees-filters__field">
    <input matInput
           [(ngModel)]="searchText"
           [placeholder]="searchByPlaceholder">
  </mat-form-field>


  <mat-form-field class="employees-filters__field">
    <mat-label>Position</mat-label>
    <mat-select [(ngModel)]="positionId">
      <mat-option *ngFor="let position of positions" [value]="position.id">
        {{ position.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="employees-filters__field">
    <mat-label>Skill</mat-label>
    <mat-select [(ngModel)]="skill">
      <mat-option *ngFor="let skill of skillsList" [value]="skill">
        {{ skill }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div class="employees-filters__actions-btn-cont">
    <button mat-raised-button
            color="accent"
            class="employees-filters__btn-apply"
            (click)="applyFilters()">Apply filters</button>
    <button mat-raised-button
            color="warn"
            class="employees-filters__btn-reset"
            (click)="resetFilters()">Reset</button>
  </div>
</div>
