<div class="show-employee page-wrapper">

  <ng-template [ngIf]="employee && employeeExists">
    <h1 class="show-employee__title page-title">{{ fullName }}</h1>
    <div class="show-employee__wrapper">
      <app-avatar [avatar]="employee.userPhoto"
                  class="show-employee__avatar"></app-avatar>
      <div class="show-employee__data-cont">
        <div *ngFor="let item of dataList"
             class="show-employee__data">
          <ng-template [ngIf]="item.data">
            <p class="show-employee__data-title"
               [innerHTML]="item.title"></p>
            <p [ngClass]="{'show-employee__data-content--skills': item.class}"
               class="show-employee__data-content"
               [innerHTML]="item.data"></p>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="!employeeExists">
    <p class="edit-employee__no-employee-cont">Employee does not exist</p>
  </ng-template>

</div>
