/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #19161d;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  max-width: 700px;
  margin: 20px auto;
}

.page-title {
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.skill-clip {
  display: inline-flex;
  align-items: center;
  min-height: 26px;
  height: 1px;
  margin: 4px;
  padding: 7px 10px;
  border-radius: 16px;
  background-color: #e0e0e0;
  color: rgba(0,0,0,.87);
  font-size: 12px;
  font-weight: 500;
  cursor: default;
}

.employee-ref {
  padding-right: 15px;
}

@media (max-width: 768px) {
  .page-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
