<main class="dashboard">
  <div *ngIf="authService.isAdmin"
       class="dashboard__actions-cont">
    <a mat-raised-button
       color="accent"
       routerLink="/app/employee-add"
       class="dashboard__add-employee-btn">Add employee</a>
  </div>

  <app-employees-filters class="dashboard__filters"
                         [initFilters]="initFiltersParams"
                         (filtersReset)="resetFilters()"
                         (filtersChanged)="applyFilters($event)"></app-employees-filters>

  <div class="dashboard__content">

    <!-- Show user data when logged in -->
    <div class="row" *ngIf="authService.userData as user">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
          </div>
        </div>
      </div>
    </div>

    <app-employees-list [employeesList]="employeesList"
                        class="dashboard__employees"></app-employees-list>

    <div *ngIf="showLoadMoreBtn"
         class="dashboard__load-more-cont">
      <button mat-raised-button
              color="accent"
              class="dashboard__load-more-btn" (click)="loadMoreEmployees()">Load more</button>
    </div>

  </div>
</main>
