<main class="dashboard">
  <app-admin-actions *ngIf="authService.isAdmin"></app-admin-actions>

  <app-employees-filters class="dashboard__filters"
                         [initFilters]="initFiltersParams"
                         (filtersReset)="resetFilters()"
                         (filtersChanged)="applyFilters($event)"></app-employees-filters>

  <div class="dashboard__content">
    <!-- Show user data when logged in -->
    <!--<div class="row" *ngIf="authService.userData as user">-->
      <!--<div class="col-md-12">-->
        <!--<div class="media">-->
          <!--<div class="media-body">-->
            <!--<p>User ID: <strong>{{user.uid}}</strong></p>-->
            <!--<p>Email: <strong>{{user.email}}</strong></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="entities-list dashboard__list">
      <app-employee-tile *ngFor="let employee of employeesList"
                         [item]="employee"
                         class="entities-list__wrapper"></app-employee-tile>
    </div>

    <div *ngIf="showLoadMoreBtn"
         class="dashboard__load-more-cont">
      <button mat-raised-button
              color="accent"
              class="dashboard__load-more-btn"
              (click)="loadMoreItems()">Load more</button>
    </div>
  </div>
</main>
