.dashboard {
  position: relative;
}

.dashboard__actions-cont {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 15px;
}

.dashboard__photo {
  width: 60px;
}
