<main class="dashboard">
  <div class="dashboard__actions-cont">
    <a *ngIf="authService.isAdmin"
       mat-raised-button
       color="accent"
       routerLink="/app/employee-add"
       class="dashboard__add-employee-btn">Add employee</a>
  </div>

  <div class="dashboard__content">

    <!-- Show user data when logged in -->
    <div class="row" *ngIf="authService.userData as user">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
            <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
          </div>
        </div>
      </div>
    </div>

    <app-employees-list [employeesList]="employeesList"
                        class="dashboard__employees"></app-employees-list>

  </div>
</main>
